extends ../templates/skeletons/bulma

block title
  if data.slug
    | #{data.slug.entry.display}
  else
    | Post

block body
  .container
    .section
      if data.slug
        .content
          | !{data.slug.entry.content}
